dist: xenial

language: python
python:
 - "2.7"
 - "3.6"
 - "3.7"
 
addons:
  apt:
    sources:
        - sourceline: "ppa:andreasgocht/scorep"
    packages: 
        - scorep
        - openmpi-common
        - libopenmpi-dev
 
install:
  - pip install mpi4py numpy

script:
  - pip install ./ && cd test && python test.py
