name: Unit tests
on: [push, pull_request, workflow_dispatch]

env:
  SCOREP_TIMER: clock_gettime # tsc causes warnings
  RDMAV_FORK_SAFE: 
  IBV_FORK_SAFE: 

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14", 'pypy-2.7', 'pypy-3.7', 'pypy-3.8', 'pypy-3.9', 'pypy-3.10', 'pypy-3.11']
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip

    - name: Add Score-P repo
      run: sudo add-apt-repository ppa:score-p/releases
    
    - name: Install Score-P      
      run: sudo apt-get -y install scorep

    - name: Setup environment
      run: echo "$HOME/scorep/bin" >> $GITHUB_PATH
    - name: set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{matrix.python}}
        architecture: x64
    - name: Install Python packages
      run: |
        pip install --upgrade pip
        pip install --upgrade setuptools
        pip install numpy mpi4py pytest

    - name: Build python bindings
      run: pip install .
    - name: Run tests
      working-directory: test
      run: pytest -vv
